<!DOCTYPE html>
<h1> {{titulo}}</h1>
<title>{{titulo}}</title>
<br>
<p>Institución:<b> </b>{{Institucion}}</p>

<p>Rut:<b> </b>{{EST.Rut}}</p>

<p>Nombres:<b> </b>{{EST.Nombres}}</p>
<p>Apellido paterno:<b> </b>{{EST.Apellido_P}}</p>
<p>Apellido materno:<b> </b>{{EST.Apellido_M}}</p>
<p>Fecha de nacimiento:<b> </b>{{EST.Fecha_nac}}</p>
<p>Domicilio: <b> </b>{{EST.Domicilio}}</p>
<p>Colegio: <b> </b>{{EST.Colegio}}</p>
<p>Observaciones:<b> </b>{{EST.Observaciones}}</p>

<p><button type="submit">Editar</button></p>
