
<!DOCTYPE html>
<html>
<h1> {{titulo}}</h1>
<title>{{titulo}}</title>
<body>


<center>

<p></p>
<br>
<button type="button"><a href="/EVA2_00" style="text-decoration: none;" > Registre un nuevo test EVALÚA-0   </a></button>

<button type="button"><a href="/Listado_E2_00" style="text-decoration: none;" >Listado test EVALÚA-0</a></button>
<p></p>

<p></p>
<br>
<button type="button"><a href="/EVA2_01" style="text-decoration: none;" > Registre un nuevo test EVALÚA-1   </a></button>

<button type="button"><a href="/Listado_E2_01" style="text-decoration: none;" >Listado test EVALÚA-1</a></button>
<p></p>

<p></p>
<br>
<button type="button"><a href="/EVA2_02" style="text-decoration: none;" > Registre un nuevo test EVALÚA-2  </a></button>

<button type="button"><a href="/Listado_E2_02" style="text-decoration: none;" >Listado test EVALÚA-2</a></button>
<p></p>

<p></p>
<br>
<button type="button"><a href="/EVA2_03" style="text-decoration: none;" > Registre un nuevo test EVALÚA-3  </a></button>

<button type="button"><a href="/Listado_E2_03" style="text-decoration: none;" >Listado test EVALÚA-3</a></button>
<p></p>

<p></p>
<br>
<button type="button"><a href="/EVA2_04" style="text-decoration: none;" > Registre un nuevo test EVALÚA-4   </a></button>

<button type="button"><a href="/Listado_E2_04" style="text-decoration: none;" >Listado test EVALÚA-4</a></button>
<p></p>

<p></p>
<br>
<button type="button"><a href="/EVA2_05" style="text-decoration: none;" > Registre un nuevo test EVALÚA-5   </a></button>

<button type="button"><a href="/Listado_E2_05" style="text-decoration: none;" >Listado test EVALÚA-5</a></button>
<p></p>

<p></p>
<br>
<button type="button"><a href="/EVA2_06" style="text-decoration: none;" > Registre un nuevo test EVALÚA-6   </a></button>

<button type="button"><a href="/Listado_E2_06" style="text-decoration: none;" >Listado test EVALÚA-6</a></button>
<p></p>

<p></p>
<br>
<button type="button"><a href="/EVA2_07" style="text-decoration: none;" > Registre un nuevo test EVALÚA-7   </a></button>

<button type="button"><a href="/Listado_E2_07" style="text-decoration: none;" >Listado test EVALÚA-7</a></button>
<p></p>

<p></p>
<br>
<button type="button"><a href="/EVA2_08" style="text-decoration: none;" > Registre un nuevo test EVALÚA-8   </a></button>

<button type="button"><a href="/Listado_E2_08" style="text-decoration: none;" >Listado test EVALÚA-8</a></button>
<p></p>

<p></p>
<br>
<button type="button"><a href="/EVA2_09" style="text-decoration: none;" > Registre un nuevo test EVALÚA-9   </a></button>

<button type="button"><a href="/Listado_E2_09" style="text-decoration: none;" >Listado test EVALÚA-9</a></button>
<p></p>

<p></p>
<br>
<button type="button"><a href="/EVA2_10" style="text-decoration: none;" > Registre un nuevo test EVALÚA-10   </a></button>

<button type="button"><a href="/Listado_E2_10" style="text-decoration: none;" >Listado test EVALÚA-10</a></button>
<p></p>

<p></p>
<br>

</center>
<br><br><br><br><br><br>


<a href="{% url "menu" %}"> Volver </a>

</body>
</html>
