
<!DOCTYPE html>
<html>
<h1> {{titulo}}</h1>
<title>{{titulo}}</title>
<body>

<center>


<p></p>
<br>

<button type="button"><a href="/EVA8" style="text-decoration: none;" > Registre un nuevo test EVALÚA-8   </a></button>

<button type="button"><a href="/Listado_E08" style="text-decoration: none;" >Listado test EVALÚA-8 </a></button>

<p></p>




<br>

<button type="button"><a href="/EVA9" style="text-decoration: none;" > Registre un nuevo test EVALÚA-9    </a></button>

<button type="button"><a href="/Listado_E09" style="text-decoration: none;" >Listado test EVALÚA-9</a></button>

<p></p>



<br>
<button type="button"><a href="/EVA10" style="text-decoration: none;" > Registre un nuevo test EVALÚA-10   </a></button>

<button type="button"><a href="/Listado_E10" style="text-decoration: none;" > Listado test EVALÚA-10</a></button>


<p></p>
<br><br><br><br><br><br>
</center>

<a href="{% url "menu" %}"> Volver </a>

</body>
</html>
