<!DOCTYPE html>
<html>
<title>  Menu </title>
<h1> Hola {{usuario}} ! </h1>
<button type="button"><a  href="Detalle_PRO"style="text-decoration: none;" > Ingrese sus datos </a></button>
<center>


 <font face="Arial MS,arial">

<body>

<p class="text-justify" >

</p>
<p></p>
<br>

<p class="text-center">
 <button type="button"><a href="URL1" style="text-decoration: none;"> Registre a un nuevo estudiante </a></button>


 <button type="button"><a href="listado" style="text-decoration: none;"> Listado de estudiantes </a></button>
</p>
<p></p>
<br>
<br>

<button type="button"><a href="vista_PIE" style="text-decoration: none;"> Psicopedagogía y Educación Diferencial </a></button>
<p></p>
<br>
<br>

<button type="button"><a href="vista_fono" style="text-decoration: none;"> Fonoaudiología </a></button>


</center>
</font>
<br><br><br><br><br><br>



 <button type="button"><a href="/logout"  style="text-decoration: none;" >Cerrar sesión</a></button>

</body>
</html>
